---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/veteran_verification/v2/service_history/123498767V234859
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer blahblahblah
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Remaining-Minute:
          - '59'
        X-Ratelimit-Limit-Minute:
          - '60'
        Ratelimit-Remaining:
          - '59'
        Ratelimit-Limit:
          - '60'
        Ratelimit-Reset:
          - '25'
        Etag:
          - W/"6571c42e57529000188d704a3cd1f46a"
        X-Git-Sha:
          - b20885293917fd081d24899644d2718d2ab4ccf9
        X-Github-Repository:
          - https://github.com/department-of-veterans-affairs/vets-api
      body:
        encoding: ASCII-8BIT
        string: '{
  "data": [
    {
      "id": "2305d238-dee4-5c98-858a-f912e3c059f8",
      "type": "service-history-episodes",
      "attributes": {
        "first_name": "Jessie",
        "last_name": "Price",
        "branch_of_service": "Air Force",
        "service_type": "Active Duty",
        "start_date": "1991-05-29",
        "end_date": "2011-06-30",
        "pay_grade": "E07",
        "component_of_service": "Air Force",
        "discharge_status": "honorable",
        "separation_reason": "SUFFICIENT SERVICE FOR RETIREMENT",
        "service_episode_combat_pay": false,
        "deployments": [
          {
            "start_date": "1948-10-10",
            "end_date": "1949-10-09",
            "location": "KOR"
          }
        ]
      }
    }
  ],
  "militarySummary": {
    "first_name": "Jessie",
    "last_name": "Price",
    "active_duty_status": "N",
    "combat_service_indicator": true,
    "duty_status_code": "02",
    "duty_status_text": "Not on active duty: ",
    "total_number_of_regular_active_duty_days": 444,
    "total_number_of_reserve_active_duty_days": 90,
    "total_number_of_guard_active_duty_days": 60,
    "total_number_of_training_days": 10
  }
}'
    recorded_at: Tue, 23 Apr 2024 21:02:39 GMT
recorded_with: VCR 6.1.0
