http_interactions:
  - request:
      method: put
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1
      body:
        encoding: UTF-8
        string: |
          {
            "vet360Id": null,
            "bio": {
              "addresses": [
                {
                  "address_line1": "1515 Broadway",
                  "address_line2": null,
                  "address_line3": null,
                  "address_pou": "CORRESPONDENCE",
                  "address_type": "DOMESTIC",
                  "city": "Washington",
                  "country_name": "USA",
                  "country_code_iso2": null,
                  "country_code_iso3": "USA",
                  "country_code_fips": null,
                  "county_code": null,
                  "county_name": null,
                  "created_at": "2017-04-09T11:52:03.000-06:00",
                  "effective_end_date": null,
                  "effective_start_date": null,
                  "geocode_date": "2018-04-13T17:01:18.000Z",
                  "geocode_precision": 100.0,
                  "id": null,
                  "international_postal_code": null,
                  "latitude": 38.901,
                  "longitude": -77.0347,
                  "province": null,
                  "source_date": "2018-04-09T11:52:03.000-06:00",
                  "source_system_user": null,
                  "state_code": "DC",
                  "transaction_id": "c2fab2b5-6af0-45e1-a9e2-394347af9102",
                  "updated_at": "2017-04-09T11:52:03.000-06:00",
                  "validation_key": null,
                  "vet360_id": "12345",
                  "zip_code": "20011",
                  "zip_code_suffix": null,
                  "bad_address": true
                }
              ],
              "telephones": [
                {
                  "area_code": "303",
                  "country_code": "1",
                  "created_at": "2017-04-09T11:52:03.000-06:00",
                  "extension": null,
                  "effective_end_date": null,
                  "effective_start_date": null,
                  "id": 2,
                  "is_international": false,
                  "is_textable": true,
                  "is_text_permitted": true,
                  "is_tty": true,
                  "is_voicemailable": true,
                  "phone_number": "5551234",
                  "phone_type": "MOBILE",
                  "source_date": "2018-04-09T11:52:03.000-06:00",
                  "source_system_user": null,
                  "transaction_id": "d2fab2b5-6af0-45e1-a9e2-394347af9106",
                  "updated_at": "2017-04-09T11:52:03.000-06:00",
                  "vet360_id": "12345"
                }
              ],
              "emails": [
                {
                  "created_at": "2017-04-09T11:52:03.000-06:00",
                  "email_address": "example@example.com",
                  "effective_end_date": null,
                  "effective_start_date": null,
                  "id": null,
                  "source_date": "2018-04-09T11:52:03.000-06:00",
                  "source_system_user": null,
                  "transaction_id": "b2fab2b5-6af0-45e1-a9e2-394347af9102",
                  "updated_at": "2017-04-09T11:52:03.000-06:00",
                  "vet360_id": "12345"
                }
              ]
            }
          }
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"txAuditId":"85b6b6a6-efa8-4e39-add8-7bf01b7b1b71","status":"RECEIVED"}'
    # MANUALLY RECORDED
    recorded_at: Wed, 25 Apr 2018 18:16:06 GMT
# MANUALLY RECORDED
recorded_with: VCR 3.0.3
